<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8" />
<link rel="stylesheet" href="static/css/styles.css" />
<title>Help Page</title>

<body>
    <div class="container">
        <h1>
            Boolean Queries
        </h1>
        <p align=" center">
            A query that matches documents matching boolean combinations of other queries.
            The clause (query) must appear in matching documents and will contribute to the score.
            Boolean search is a type of search allowing users to combine keywords with operators (or modifiers) such as
            AND, NOT and OR to further produce more relevant results. For example, a Boolean search could be “hotel” AND
            “New York”.
            This would limit the search results to only those documents containing the two keywords.
        </p>
        <h2>Proximity Query</h2>
        <p align="center">In text processing
            , a proximity search looks for
            documents where two or more separately matching term occurrences are within a specified distance
            Example: query = "text model /2"
            Documents Containing text and model atmost 2 distance apart would be returned
        </p>
        <p align="center">
            <a href="/">Return To Search</a>
        </p>

    </div>
</body>

</html>