<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Boolean Retrieval Model</title>
</head>

<body>
    <div class="container">
        <h1>
            <a href="/"> BOOLEAN RETRIEVAL MODEL </a>
        </h1>
        <form method="POST" action="/search" class="flex-center-y">
            <p>Boolean query : </p>
            <p> <a href="/help"> What is Boolean Query? </a></p>
            <div class="form-fields flex-center">
                <input type="text" name="Query" />
                <button type="submit">Search</button>
            </div>
        </form>
        <h1>
            <p>
                Information Retrieval Assignment#1
                Made By 19k - 0280
            </p>
        </h1>

    </div>
</body>

</html>